<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Доступ запрещен</title>
</head>
<body>

<div th:replace="~{header}"></div>

<main id="main">
    <div id="errorContainer">
        <div id="errorBlock">
            <h1>Доступ запрещен</h1>
        </div>
    </div>
</main>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>