<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>404 - страница не найдена</title>
</head>
<body>

<div th:replace="~{header}"></div>

<main class="d-flex flex-column" id="main">
    <h1 class="display-5 fw-normal text-dark text-xxl-center">Ошибка 404</h1>
</main>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>