<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${userCredentials} + ' - редактор резюме'"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div th:replace="~{header}"></div>

<main>

    <div class="container" id="cv-edit-block">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
            <h2 th:text="${resumeOwner.name} + ' ' + ${resumeOwner.surname}"></h2>
            <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form
                group has a validation state that can be triggered by attempting to submit the form without completing
                it.</p>
        </div>


        <div class="mb-3">
            <h3 class="mb-4">Отредактируйте резюме</h3>
            <form th:action="@{/cv/edit/}" th:object="${resume}" method="post" class="needs-validation" novalidate>
                <input type="hidden" th:field="*{id}" name="id"/>
                <div class="row g-3">
                    <div class="col-12 mb-4">
                        <label for="title" class="form-label h5">Искомая(ые) должность(и)</label>
                        <hr class="m-0 mb-3">
                        <input th:field="*{title}" name="title" type="text" class="form-control" id="title"
                               placeholder="Например: &#34;JAVA - разработчик, QA - инженер&#34;"
                               th:value="${resume.title}" required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>

                    <div class="col-12 mb-4">
                        <label for="commonInfo" class="form-label h5">О себе</label>
                        <hr class="m-0 mb-3">
                        <textarea th:field="*{commonInfo}" name="commonInfo" maxlength="1000" class="form-control"
                                  id="commonInfo"
                                  placeholder="Например: &#34;Опыт разработки - 5 лет. Знаю иностранные языки. Вышиваю крестиком. Есть кот.&#34;"
                                  th:value="${resume.commonInfo}" required></textarea>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>

                    <div class="col-12 mb-5">
                        <h5>Навыки</h5>
                        <hr class="m-0 mb-3">
                        <div id="skillsBlock">
                            <div th:each="skill, iteration : ${resume.skills}">
                                <div class="skillItem p-3 mb-3">
                                    <label th:for="'skillRange' + ${iteration.index + 1}"
                                           class="form-label d-flex justify-content-between"><input
                                            th:name="'skillTitle' + ${iteration.index + 1}"
                                            type="text"
                                            class="form-control form-control-sm form-label"
                                            placeholder="Навык" th:value="${skill.title}" required>
                                        <button type="button" class="closeButton btn btn-sm btn-outline-danger">X
                                        </button>
                                    </label>
                                    <input th:name="'skillRange' + ${iteration.index + 1}" type="range"
                                           class="form-range" min="0" max="100" th:value="${skill.percent}"
                                           th:id="'skillRange' + ${iteration.index + 1}">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" id="addSkill">Добавить</button>
                    </div>

                    <div class="col-12 mb-5">
                        <h5>Опыт работы</h5>
                        <hr class="m-0 mb-3">
                        <div id="jobBlock">
                            <div th:each="job, iteration : ${resume.jobs}">
                                <div th:if="${job.getType().equals('JOB')}" class="jobItem p-3 mb-3">
                                    <label th:for="'jobTitle' + ${iteration.index + 1}"
                                           class="form-label d-flex justify-content-between">Компания
                                        <button type="button" class="closeButton btn btn-sm btn-outline-danger">X
                                        </button>
                                    </label>
                                    <input th:name="'jobTitle' + ${iteration.index + 1}" type="text"
                                           class="form-control mb-3" id="jobTitle1"
                                           placeholder="Например: ОАО &#34;Рога и копыта&#34;" th:value="${job.title}"
                                           required>
                                    <div class="row">
                                        <div class="col-6">
                                            <label th:for="'jobYearStart' + ${iteration.index + 1}"
                                                   class="form-label">C</label>
                                            <input th:name="'jobYearStart' + ${iteration.index + 1}" type="number"
                                                   min="2010" max="2023"
                                                   class="form-control mb-3"
                                                   th:id="'jobYearStart' + ${iteration.index + 1}"
                                                   placeholder="2020" th:value="${job.startYear}" required>
                                        </div>
                                        <div class="col-6">
                                            <label th:for="'jobYearEnd' + ${iteration.index + 1}"
                                                   class="form-label">По</label>
                                            <input th:name="'jobYearEnd' + ${iteration.index + 1}" type="number"
                                                   min="2010"
                                                   max="2023"
                                                   class="form-control mb-3"
                                                   th:id="'jobYearEnd' + ${iteration.index + 1}"
                                                   placeholder="2023" th:value="${job.endYear}" required>
                                        </div>
                                    </div>
                                    <label th:for="'jobDescription' + ${iteration.index + 1}" class="form-label">Опишите
                                        обязанности</label>
                                    <textarea th:name="'jobDescription' + ${iteration.index + 1}" maxlength="1000"
                                              class="form-control mb-3"
                                              th:id="'jobDescription' + ${iteration.index + 1}"
                                              placeholder="Например: &#34;Специалист по работе с клиентами. Эффективный менеджер в галстуке и рубашке. Выполнял планы продаж и в ус не дул&#34;"
                                              th:text="${job.description}" required></textarea>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" id="addJob">Добавить</button>
                    </div>

                    <div class="col-12 mb-5">
                        <h5>Образование</h5>
                        <hr class="m-0 mb-3">
                        <div id="eduBlock">
                            <div th:each="edu, iteration : ${resume.educations}">
                                <div th:if="${edu.getType().equals('EDUCATION')}" class="eduItem p-3 mb-3">
                                    <label th:for="'eduTitle' + ${iteration.index + 1}"
                                           class="form-label d-flex justify-content-between">Учебное
                                        заведение
                                        <button type="button" class="closeButton btn btn-sm btn-outline-danger">X
                                        </button>
                                    </label>
                                    <input th:name="'eduTitle' + ${iteration.index + 1}" type="text"
                                           class="form-control mb-3" id="'eduTitle' + ${iteration.index + 1}"
                                           placeholder="Например: Разработка на JAVA от ООО &#34;Айти-ШАГ&#34;"
                                           th:value="${edu.title}"
                                           required>
                                    <div class="row">
                                        <div class="col-6">
                                            <label th:for="'eduYearStart' + ${iteration.index + 1}"
                                                   class="form-label">C</label>
                                            <input th:name="'eduYearStart' + ${iteration.index + 1}" type="number"
                                                   min="2010" max="2023"
                                                   class="form-control mb-3"
                                                   th:id="'eduYearStart' + ${iteration.index + 1}"
                                                   placeholder="2020" th:value="${edu.startYear}" required>
                                        </div>
                                        <div class="col-6">
                                            <label th:for="'eduYearEnd' + ${iteration.index + 1}"
                                                   class="form-label">По</label>
                                            <input th:name="'eduYearEnd' + ${iteration.index + 1}" type="number"
                                                   min="2010" max="2023"
                                                   class="form-control mb-3"
                                                   th:id="'eduYearEnd' + ${iteration.index + 1}"
                                                   placeholder="2023" th:value="${edu.endYear}" required>
                                        </div>
                                    </div>
                                    <label th:for="'eduDescription' + ${iteration.index + 1}" class="form-label">Описание</label>
                                    <textarea th:name="'eduDescription' + ${iteration.index + 1}" maxlength="1000"
                                              class="form-control mb-3"
                                              th:id="'eduDescription' + ${iteration.index + 1}"
                                              placeholder="Опишите чему научились, какой диплом получили. Например: &#34;Научился программировать&#34;"
                                              th:text="${edu.description}" required></textarea>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" id="addEducation">Добавить</button>
                    </div>

                    <div class="col-12 mb-5">
                        <h5>Контакты для связи</h5>
                        <hr class="m-0 mb-3">
                        <div id="contactBlock">
                            <div th:each="contact, iteration : ${resume.contacts}">
                                <div class="contactItem p-3 mb-3">
                                    <label th:for="'contactData' + ${iteration.index + 1}"
                                           class="form-label d-flex justify-content-between">Контакт
                                        <button type="button" class="closeButton btn btn-sm btn-outline-danger">X
                                        </button>
                                    </label>
                                    <input th:name="'contactData' + ${iteration.index + 1}" type="text"
                                           class="form-control mb-3" th:id="'contactData' + ${iteration.index + 1}"
                                           placeholder="Например: &#34;+375 44 700 00 00&#34; или &#34;mail@email.com&#34; или &#34;https://url.com&#34;"
                                           th:value="${contact.data}" required>
                                    <label th:for="'contactType' + ${iteration.index + 1}" class="form-label">Тип
                                        контакта</label>
                                    <select th:name="'contactType' + ${iteration.index + 1}" class="form-select"
                                            th:id="'contactType' + ${iteration.index + 1}"
                                            required>
                                        <option value="">Выберите тип...</option>
                                        <option value="PHONE">Телефон</option>
                                        <option value="EMAIL">Почта</option>
                                        <option value="LINK">Ссылка</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" id="addContact">Добавить</button>
                    </div>

                </div>
                <button class="w-100 btn btn-primary btn-lg" type="submit">Сохранить</button>
            </form>
        </div>
    </div>


</main>

<div th:replace="~{footer}"></div>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/form-validation.js"></script>
<script src="/js/element-injection.js"></script>
</body>
</html>