<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${userCredentials} + ' - резюме'"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="bg-light">

<div th:replace="~{header}"></div>

<main id="main-cv" class="d-flex flex-column" th:object="${resume}">
    <div id="invoice" class="col-xl-9 mt-4 mx-auto bg-light p-3 rounded-3">

        <div id="scrollspyHeading1" class="d-flex bg-white rounded-3 mb-5">
            <div class="container col-xxl-8 px-4 py-5">
                <div class="row align-items-center g-5">
                    <div class="col-lg-4">
                        <img th:if="${resume.photo}" th:src="@{/upload/profile/{photo}(photo=${resume.photo.name})}"
                             class="float-start d-block mx-md-auto bd-placeholder-img img-thumbnail img-fluid"
                             alt="Bootstrap Themes"
                             width="300" height="500" loading="lazy">
                        <img th:if="!${resume.photo}" src="/images/noimage_photo.png"
                             class="float-start d-block mx-md-auto bd-placeholder-img img-thumbnail img-fluid"
                             alt="Bootstrap Themes"
                             width="300" height="500" loading="lazy">
                    </div>
                    <div class="col-lg-6">
                        <h1 class="display-5 fw-bold lh-1 mb-3"
                            th:text="${resumeOwner.name} + ' ' + ${resumeOwner.surname}"></h1>
                        <p class="lead" th:text="*{title}"></p>
                        <p class="lead" th:text="*{commonInfo}"></p>
                        <div id="saveButtonBlock" class="d-grid gap-2 justify-content-md-start">
                            <button id="saveToPdf" type="button" class="btn btn-primary btn-lg px-4 me-md-2 hiding">
                                Скачать в пдф
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:switch="${resume.skills.size()}" id="scrollspyHeading2"
             class="container-fluid mb-5 px-4 py-5 bg-white rounded-3">
            <h4 class="pb-2 mb-4 border-bottom">Навыки</h4>
            <div th:case="0"><h4 class="fs-2">Не указано</h4></div>
            <div th:case="*">
                <div th:each="skill : ${resume.skills}">
                    <div class="container-fluid mb-4">
                        <span class="h6 mb-2" th:text="${skill.title}"></span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label"
                                 th:attr="aria-valuenow=${skill.percent}" th:style="'width:'+ ${skill.percent}+'%;'"
                                 aria-valuemin="0" aria-valuemax="100" th:text="${skill.percent} + '%'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:switch="${resume.jobs.size()}" id="scrollspyHeading3"
             class="container-fluid mb-5 px-4 py-5 bg-white rounded-3">
            <h4 class="pb-2 mb-4 border-bottom">Опыт работы</h4>
            <div th:case="0"><h4 class="fs-2">Не указано</h4></div>
            <div th:case="*">
                <div th:each="job, counter : ${resume.jobs}">
                    <div class="accordion mb-2" th:id="'accordionPanelsStayOpen' + ${counter.index}">
                        <div class="accordion-item">
                            <h2 class="accordion-header" th:id="'panelsStayOpen-heading' + ${counter.index}">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        th:data-bs-target="'#panelsStayOpen-collapse' + ${counter.index}"
                                        aria-expanded="true"
                                        th:aria-controls="'panelsStayOpen-heading' + ${counter.index}">
                                    <span th:text="${job.startYear} + 'г. - ' + ${job.endYear} + 'г.' + ' - ' + ${job.title}"></span>
                                </button>
                            </h2>
                            <div th:id="'panelsStayOpen-collapse' + ${counter.index}"
                                 class="accordion-collapse collapse show"
                                 th:aria-labelledby="'panelsStayOpen-heading' + ${counter.index}">
                                <div class="accordion-body" th:text="${job.description}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:switch="${resume.educations.size()}" id="scrollspyHeading4"
             class="container-fluid mb-5 px-4 py-5 bg-white rounded-3">
            <h4 class="pb-2 mb-4 border-bottom">Образование</h4>
            <div th:case="0"><h4 class="fs-2">Не указано</h4></div>
            <div th:case="*">
                <div th:each="edu, counter : ${resume.educations}">
                    <div class="accordion mb-2" th:id="'edu-accordionPanelsStayOpen' + ${counter.index}">
                        <div class="accordion-item">
                            <h2 class="accordion-header" th:id="'edu-panelsStayOpen-heading' + ${counter.index}">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        th:data-bs-target="'#edu-panelsStayOpen-collapse' + ${counter.index}"
                                        aria-expanded="true"
                                        th:aria-controls="'edu-panelsStayOpen-heading' + ${counter.index}">
                                    <span th:text="${edu.startYear} + 'г. - ' + ${edu.endYear} + 'г.' + ' - ' + ${edu.title}"></span>
                                </button>
                            </h2>
                            <div th:id="'edu-panelsStayOpen-collapse' + ${counter.index}"
                                 class="accordion-collapse collapse show"
                                 th:aria-labelledby="'edu-panelsStayOpen-heading' + ${counter.index}">
                                <div class="accordion-body" th:text="${edu.description}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:switch="${resume.contacts.size()}" id="scrollspyHeading5"
             class="container-fluid mb-5 px-4 py-5 bg-white rounded-3">
            <h4 class="pb-2 mb-4 border-bottom">Контакты</h4>
            <div th:case="0"><h4 class="fs-2">Не указано</h4></div>
            <div th:case="*">
                <div th:each="contact : ${resume.contacts}">
                    <div th:switch="${contact.type}" class="row g-4 row-cols-1 row-cols-lg-3">
                        <div th:case="'EMAIL'" class="feature col mb-4">
                            <h5 class="lead">Почта</h5>
                            <a class="btn btn-outline-primary" th:href="@{'mailto:'+ ${contact.data}}"
                               th:text="${contact.data}">
                            </a>
                        </div>
                        <div th:case="'PHONE'" class="feature col mb-4">
                            <h5 class="lead">Телефон</h5>
                            <a class="btn btn-outline-primary" th:href="@{'tel:'+ ${contact.data}}"
                               th:text="${contact.data}">
                            </a>
                        </div>
                        <div th:case="'LINK'" class="feature col mb-4">
                            <h5 class="lead">Ссылка</h5>
                            <a class="btn btn-outline-primary" th:href="@{contact.data}"
                               th:text="${contact.data}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

<div th:if="!${isPublished}" th:replace="~{footer}"></div>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/saveToPdf.js"></script>
<script src="/js/html2pdf.bundle.min.js"></script>
</body>
</html>