<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>CVPlatform - авторизация</title>
</head>
<body>


<main class="d-flex flex-column" id="main">

    <div class="container">
        <form class="form-signin" method="post" action="/login">
            <h2 class="form-signin-heading">Авторизация</h2>
            <p>
                <label for="username" class="sr-only">Логин</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Логин" required autofocus>
            </p>
            <p>
                <label for="password" class="sr-only">Пароль</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Пароль" required>
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
</main>


<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>