<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>CVPlatform - авторизация</title>
</head>
<body>


<main class="d-flex flex-column" id="main">

    <div class="loginForm container col-sm-9 col-xxl-5 col-md-8 mt-5 mx-auto bg-white p-3 p-sm-5 rounded-3 shadow-lg">
        <img src="/images/logo2.png" width="200" height="200" class="d-flex mx-auto rounded-3" alt="" loading="lazy">
        <form name="login" class="form-signin" method="post" th:action="@{/login}">
            <h2 class="form-signin-heading text-center mt-3">Авторизация</h2>
            <div th:if="${param.error}" class="alert alert-danger">
                Неверные данные для входа!
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                Вы успешно вышли из аккаунта
            </div>
            <p>
                <input type="text" id="username" name="username" class="form-control text-center" placeholder="Логин" required autofocus>
            </p>
            <p>
                <input type="password" id="password" name="password" class="form-control text-center" placeholder="Пароль" required>
            </p>
            <button class="btn btn-lg btn-primary btn-block w-100" type="submit">Войти</button>
        </form>
    </div>
</main>


<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>